<div class="container text-center">
<h1>About motherfucker</h1>
<p>
This thing is just fluff aiming to distract you from the fact that you are
shit. Well, i never said i would do a good job. 
This thing is just fluff aiming to distract you from the fact that you are
shit. Well, i never said i would do a good job. 
This thing is just fluff aiming to distract you from the fact that you are
shit. Well, i never said i would do a good job. 
This thing is just fluff aiming to distract you from the fact that you are
shit. Well, i never said i would do a good job. 
This thing is just fluff aiming to distract you from the fact that you are
shit. Well, i never said i would do a good job. 
This thing is just fluff aiming to distract you from the fact that you are
shit. Well, i never said i would do a good job. 

</p>
</div>